/*Custom CSS File for Web App */
.active a{
    color: white !important;
    font-weight: bold;

}
a:hover {
    color: white;
}

.container{
    margin-top: 80px;
    margin-bottom: 80px;
    background-color:black;
    z-index:0;
    opacity:0.8;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px #000;
    font-family: Algerian;
    font-weight: bold;
}

h2{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px #000;
    font-family: "Times New Roman";
}

h3{
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px #000;
    font-family: "Times New Roman";
}
body{
    background: url(soccer-ball.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

textarea{
    overflow: auto;
    resize: none;
}

label{
    color: white;
}

.form-control{
    text-align: left;
    color: black;
    font-size: large;
}
#teamDisplay {
    text-align: center;
    border: 3px solid green;
}

.footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:40px;
    background-color: #222;
    border-color: #080808;
    color: white;
    padding-top: 11px;
    padding-right: 25px;
    text-align: right;
}

.flashes{
    text-align: center;
    color: red;
    font-weight: bold;
}

#teamHeaders{
    color: goldenrod;
    text-decoration: underline;
}






