/*Custom CSS File for Web App */

h1{
    text-align: center;
    color: black;
    font-family: Algerian;
}

h2{
    text-align: center;
    color: black;
    font-family: "Times New Roman";
}

h3{
    font: bold;
    text-align: center;
    color: black;
    font-family: "Times New Roman";
}
body{
    background: url(background3.jpeg) no-repeat;
    background-size: 100%;
}

#teamText
{
    text-align: center;
}

.footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;
    position: fixed;
    background-color: #222;
    border-color: #080808;
    color: white;
    padding-top: 15px;
    text-align: right;
}