/*Custom CSS File for Web App */
h1{
    text-align: center;
    color: blue;
}

body{
    background-color: cornsilk;
}

div{

}

.footer{
    background-color: #222;
    border-color: #080808;
    color: white;
    margin-top: 50px;
    padding-top: 50px;
}