<!-- Child Template -->
{% extends "base.html" %}
{% block content %}

    <!-- Html Form Control -->
<form style="margin-left: 20px; margin-right: 20px" method="POST" action="{{ url_for('form') }}">
  <!--name input-->
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" name = "nameInput" id="nameInput" placeholder="Please Enter your name">
    <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
  </div>
  <!--message imput-->
  <div class="form-group">
    <label for="textArea">Enter Your Post to the Forum Below</label>
    <textarea type ="text" class="form-control" name = "messageInput" id="messageInput" rows="5"></textarea>
  </div>

    <button type="submit" id = "submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

