
{% extends "base.html" %}
{% block content %}

<h1>Welcome</h1>
<h1>To Our</h1>
<h1>Fantasy Football Forum</h1>

<h2>Hey Soccer fans!! </h2>
<h2>Welcome to out Fantasy Football Forum where beginners and seasoned vets can read and share their knowledge. Every week we will post our Fantasy Football Team and hope it helps you get those vital points. Nobody wants to be at the bottom of the table, so take our tips and wipe the smirk of your best mate </h2>
    <div id="container">

    </div>
<p>Click <a href="/form">Here</a> To go to the Form Page</p>
{% endblock %}

