{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h2>Admin Login Page</h2>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
            <input type="text" placeholder="Password" name="password" value="{{ request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {%  if error %}
            <p class="error"><strong>ERROR:</strong>{{ error }}</p>
        {% endif %}
    </div>

{% endblock %}